# .gitignore for OpenSpotLight

# IDE support files
.classpath
.project
.metadata
.settings
.wtpmodules
.pmd

#ANTLR temp files
*.tokens

#emacs bkp
*~

# Maven generated folders
temp-testng-customsuite.xml
test-output
target
bin

# General folders
local
nbproject

# logs 
*.log

# mac files
.DS_Store

# general files
*.ipr
*.iws
*.iml
