
# /
/target

# /osl-common/
/osl-common/target

# /osl-federation/
/osl-federation/target

# /osl-graph/
/osl-graph/target

# /osl-graph/src/main/java/
/osl-graph/src/main/java/workaround

# /osl-graph-api/
/osl-graph-api/target

# /osl-graph-import-test/
/osl-graph-import-test/target

# /osl-graph-persistence/
/osl-graph-persistence/target

# /osl-graph-persistence-api/
/osl-graph-persistence-api/target
