<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>org.openspotlight.web.OslSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.openspotlight.web.OslContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>JCR_DESCRIPTOR</param-name>
		<param-value>TEMP_DESCRIPTOR</param-value>
	</context-param>
	<servlet>
		<servlet-name>core servlet</servlet-name>
		<servlet-class>org.openspotlight.web.CoreServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>core servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
